@model CactusDto

@{
    ViewData["Title"] = "Details";
}
@{
    String imgSrc = null;
    if (Model.Image != null && Model.Image.Length > 0)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);
    }
}

<div>
    <h2>@Model.Species.Name</h2>
    <h5><em>@Model.Species.LatinName</em></h5>
    <hr />
    <div class="d-flex justify-content-between">
        <div>
            <dl class="row">
                <dt class="col-sm-3">Owner:</dt>
                <dd class="col-sm-9">@Model.Owner.FirstName @Model.Owner.LastName</dd>
                <dt class="col-sm-3">For sale:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ForSale)</dd>
                <dt class="col-sm-3">Sowing date:</dt>
                <dd class="col-sm-9">@Model.SowingDate.ToLongDateString()</dd>
                <dt class="col-sm-3">Pot size</dt>
                <dd class="col-sm-9">@Model.PotSize cm</dd>
                <dt class="col-sm-3">Amount:</dt>
                <dd class="col-sm-9">@Model.Amount pcs</dd>
                <dt class="col-sm-3">Note:</dt>
                <dd class="col-sm-9">@Model.Note</dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div>
            @if (imgSrc != null)
            {
                <img src="@imgSrc" style="max-width: 300px" />
            }
        </div>
    </div>
</div>
