@model IEnumerable<CactusDto>

@{
    ViewData["Title"] = "Index";
}

<h1>My collection</h1>

<p>
    <a class="btn btn-primary" asp-action="Add">Add new cactus</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Species</th>
            <th>For sale</th>
            <th>Sowing date</th>
            <th>Pot size</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
            <td>@item.Species.Name</td>
            <td>@Html.DisplayFor(modelItem => item.ForSale)</td>
            <td>@item.SowingDate.ToShortDateString()</td>
            <td>@item.PotSize cm</td>
            <td>@item.Amount pcs</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
