@model IEnumerable<OfferDto>

@{
    ViewData["Title"] = "Incoming offers";
}

<h1>Incoming offers</h1>

@if (TempData.ContainsKey(MVC.Controllers.OfferController.SKEY_OFFER_ACCEPTED))
{
    @if ((bool)TempData[MVC.Controllers.OfferController.SKEY_OFFER_ACCEPTED])
    {
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div>
                Offer successfully accepted.
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                The offer could not be accepted. Please make sure that both parties have the required resources.
            </div>
        </div>
    }
}

@if (TempData.ContainsKey(MVC.Controllers.OfferController.SKEY_DELIVERY_APPROVED))
{
    @if ((bool)TempData[MVC.Controllers.OfferController.SKEY_DELIVERY_APPROVED])
    {
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div>
                Delivery confirmed.
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                The delivery could not be confirmed.
            </div>
        </div>
    }
}

@if (TempData.ContainsKey(MVC.Controllers.OfferController.SKEY_OFFER_DECLINED))
{
    @if ((bool)TempData[MVC.Controllers.OfferController.SKEY_OFFER_DECLINED])
    {
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div>
                Offer successfully declined.
            </div>
        </div>
    }
}

<table class="table table-bordered">
    <thead style="text-align: center; vertical-align: middle">
        <tr>
            <th scope="col" rowspan="2">ID</th>
            <th scope="col" rowspan="2">Author</th>
            <th scope="col" colspan="2" style="text-align: center">Offered</th>
            <th scope="col" colspan="2" style="text-align: center">Requested</th>
            <th scope="col" rowspan="2">Created</th>
            <th scope="col" rowspan="2">State</th>
            <th scope="col" rowspan="2">Actions</th>
        </tr>
        <tr style="font-size: 0.8rem">
            <th scope="col" style="font-weight: 300">Money</th>
            <th scope="col" style="font-weight: 300">Cactuses</th>
            <th scope="col" style="font-weight: 300">Money</th>
            <th scope="col" style="font-weight: 300">Cactuses</th>
        </tr>
    </thead>
    <tbody style="vertical-align: middle">
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Id</td>
                <td>@offer.Author.FirstName @offer.Author.LastName</td>
                <td>@offer.OfferedMoney</td>
                <td>
                    @for (int i = 0; i < offer.OfferedCactuses.Count; i++)
                    {
                        <span>@offer.OfferedCactuses[i].Cactus.Species.Name: <em>@offer.OfferedCactuses[i].Amount pcs</em></span><br />
                    }
                </td>
                <td>@offer.RequestedMoney</td>
                <td>
                    @for (int i = 0; i < offer.RequestedCactuses.Count; i++)
                    {
                        <span>@offer.RequestedCactuses[i].Cactus.Species.Name: <em>@offer.RequestedCactuses[i].Amount pcs</em></span><br />
                    }
                </td>
                <td>@offer.CreationDate</td>
                <td>@offer.Response</td>
                <td>
                    @if (offer.Response == BL.Enums.OfferStatus.Created)
                    {
                        <form asp-action="Accept">
                            <input type="hidden" name="id" value="@offer.Id" />
                            <button type="submit" class="btn btn-outline-success">Accept</button>
                        </form>
                        <form asp-action="Decline">
                            <input type="hidden" name="id" value="@offer.Id" />
                            <button type="submit" class="btn btn-outline-danger">Decline</button>
                        </form>
                    }
                    else if (offer.Response == BL.Enums.OfferStatus.Accepted && !offer.Transfer.AuthorAprovedDelivery)
                    {
                        <form asp-action="Confirm">
                            <input type="hidden" name="id" value="@offer.Id" />
                            <input type="hidden" name="redirect" value="Incoming" />
                            <button type="submit" class="btn btn-outline-primary">Confirm delivery</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
