@model IEnumerable<OfferDto>

@{
    ViewData["Title"] = "Outgoing offers";
}

<h1>Outgoing offers</h1>

@if (TempData.ContainsKey(MVC.Controllers.OfferController.SKEY_DELIVERY_APPROVED))
{
    @if ((bool)TempData[MVC.Controllers.OfferController.SKEY_DELIVERY_APPROVED])
    {
        await Html.RenderPartialAsync("_AlertPartial", new AlertViewModel { Type = AlertType.Success, Message = "Delivery confirmed." });
    }
    else
    {
        await Html.RenderPartialAsync("_AlertPartial", new AlertViewModel { Type = AlertType.Error, Message = "The delivery could not be confirmed." });
    }
}

@if (TempData.ContainsKey(MVC.Controllers.OfferController.SKEY_OFFER_DELETED))
{
    @if ((bool)TempData[MVC.Controllers.OfferController.SKEY_OFFER_DELETED])
    {
        await Html.RenderPartialAsync("_AlertPartial", new AlertViewModel { Type = AlertType.Success, Message = "Offer cancelled." });
    }
    else
    {
        await Html.RenderPartialAsync("_AlertPartial", new AlertViewModel { Type = AlertType.Error, Message = "Offers can only be cancelled before the recipient would have accepted it." });
    }
}

<table class="table table-bordered">
    <thead style="text-align: center; vertical-align: middle">
        <tr>
            <th scope="col" rowspan="2">Recipient</th>
            <th scope="col" rowspan="2">Created</th>
            <th scope="col" colspan="2" style="text-align: center">Offered</th>
            <th scope="col" colspan="2" style="text-align: center">Requested</th>
            <th scope="col" rowspan="2">State</th>
            <th scope="col" rowspan="2">Actions</th>
        </tr>
        <tr style="font-size: 0.8rem">
            <th scope="col" style="font-weight: 300">Money</th>
            <th scope="col" style="font-weight: 300">Cactuses</th>
            <th scope="col" style="font-weight: 300">Money</th>
            <th scope="col" style="font-weight: 300">Cactuses</th>
        </tr>
    </thead>
    <tbody style="vertical-align: middle">
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Recipient.FirstName @offer.Recipient.LastName</td>
                <td>@offer.CreationDate</td>
                <td class="text-end">@offer.OfferedMoney</td>
                <td>
                    @for (int i = 0; i < offer.OfferedCactuses.Count(); i++)
                    {
                        <span>@offer.OfferedCactuses.ToList()[i].Cactus.Species.Name: <em>@offer.OfferedCactuses.ToList()[i].Amount pcs</em></span><br />
                    }
                </td>
                <td class="text-end">@offer.RequestedMoney</td>
                <td>
                    @for (int i = 0; i < offer.RequestedCactuses.Count(); i++)
                    {
                        <span>@offer.RequestedCactuses.ToList()[i].Cactus.Species.Name: <em>@offer.RequestedCactuses.ToList()[i].Amount pcs</em></span><br />
                    }
                </td>
                <td>@offer.Response</td>
                <td>
                    @if (offer.Response == BL.Enums.OfferStatus.Created)
                    {
                        <form asp-action="Delete" onsubmit="confirm('Are you sure you want to cancel this offer?')">
                            <input type="hidden" name="id" value="@offer.Id" />
                            <button type="submit" class="btn btn-outline-danger">Cancel</button>
                        </form>
                    }
                    else if (offer.Response == BL.Enums.OfferStatus.Accepted)
                    {
                        if (offer.Transfer.AuthorAprovedDelivery)
                        {
                            <span>Waiting for the recipient to confirm the delivery.</span>
                        }
                        else
                        {
                            <form asp-action="Confirm">
                                <input type="hidden" name="id" value="@offer.Id" />
                                <input type="hidden" name="redirect" value="Outgoing" />
                                <button type="submit" class="btn btn-outline-primary">Confirm delivery</button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
