@page
@model RazorPages.Pages.Cactuses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cactus</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.Owner.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.Species.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.ForSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.ForSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.SowingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.SowingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.PotSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.PotSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cactus.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cactus.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cactus.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
