@model IEnumerable<CactusDto>

@{
    ViewData["Title"] = "Collection";
}

<h1>Collection of @ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</h1>
<a class="btn btn-success" asp-controller="offer" asp-action="create" asp-route-id="@ViewBag.UserDetails.Id">Create offer</a>
<table class="table">
    <thead>
        <tr>
            <th>Species</th>
            <th>For sale</th>
            <th>Sowing date</th>
            <th>Pot size</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Species.Name</td>
                <td>@Html.DisplayFor(modelItem => item.ForSale)</td>
                <td>@item.SowingDate.ToShortDateString()</td>
                <td>@item.PotSize cm</td>
                <td>@item.Amount pcs</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
    }
</div>
