@model IEnumerable<UserInfoDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    @foreach (var user in Model)
    {

    <div class="col-sm-3 mb-3">
        <div class="card border-success" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center text-success">@user.FirstName @user.LastName</h5>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <img class='img-circle' src='~/img/cactus-avatar.png' width="80" />
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label class="control-label text-success"><b>First name:</b></label>
                        <input type="text" readonly class="form-control-plaintext" value="@user.FirstName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label text-success"><b>Last name:</b></label>
                        <input type="text" readonly class="form-control-plaintext" value="@user.LastName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label text-success"><b>Email:</b></label>
                        <input type="text" readonly class="form-control-plaintext" value="@user.Email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label text-success"><b>Phone number:</b></label>
                        <input type="text" readonly class="form-control-plaintext" value="@user.PhoneNumber" />
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            <label class="control-label text-success"><b>Account balance:</b></label>
                            <input type="text" readonly class="form-control-plaintext" value="@user.AccountBalance" />
                        </div>
                        <div class="form-check-inline">
                            <label class="control-label text-success"><b>Banned:</b></label>
                            <input type="checkbox" disabled class="form-check-input" checked="@user.Banned" />
                        </div>
                    }
                </form>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <a asp-action="Collection" asp-route-id="@user.Id" class="btn btn-primary">Collection</a>
                    @if (User.IsInRole("Admin") && user.Id != int.Parse(User.Identity.Name))
                    {
                        @if (user.Banned)
                        {
                            <a asp-action="UnbanUser" asp-route-id="@user.Id" class="btn btn-primary">Unban user</a>
                        }
                        else
                        {
                            <a asp-action="BanUser" asp-route-id="@user.Id" class="btn btn-primary">Ban user</a>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
            }
</div>