@model UserInfoDto

@{
    ViewData["Title"] = "Profile";
}
@{
    String imgSrc = null;
    if (Model.Avatar != null)
    {
        var base64 = Convert.ToBase64String(Model.Avatar);
        imgSrc = String.Format("data:image/png;base64,{0}", base64);
    }
}
<h1>Profile</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <div class="card border-success" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center text-success">@Model.FirstName @Model.LastName</h5>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        @if (imgSrc == null)
                        {
                            <img class='img-circle' src='~/img/cactus-avatar.png' width="80" />
                        }
                        else
                        {
                            <img class='img-circle' src='@imgSrc' width="80" />
                        }
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label text-success"><b>First name:</b></label>
                        <input type="text" readonly class="form-control-plaintext" asp-for="FirstName" value="@Model.FirstName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label text-success"><b>Last name:</b></label>
                        <input type="text" readonly class="form-control-plaintext" asp-for="LastName" value="@Model.LastName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label text-success"><b>Email:</b></label>
                        <input type="text" readonly class="form-control-plaintext" asp-for="Email" value="@Model.Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label text-success"><b>Phone number:</b></label>
                        <input type="text" readonly class="form-control-plaintext" asp-for="PhoneNumber" value="@Model.PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountBalance" class="control-label text-success"><b>Account balance:</b></label>
                        <input type="text" readonly class="form-control-plaintext" asp-for="AccountBalance" value="@Model.AccountBalance" />
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-check-inline">
                            <label asp-for="Banned" class="control-label text-success"><b>Banned:</b></label>
                            <input type="checkbox" disabled class="form-check-input" asp-for="Banned" checked="@Model.Banned" />
                        </div>
                    }
                </form>
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <a asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-primary">Edit profile</a>
                    <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-primary">Change password</a>
                    @if (User.IsInRole("Admin") && Model.Id != int.Parse(User.Identity.Name))
                    {
                        @if (Model.Banned)
                        {
                            <a asp-action="UnbanUser" asp-route-id="@Model.Id" class="btn btn-primary">Unban user</a>
                        }
                        else
                        {
                            <a asp-action="BanUser" asp-route-id="@Model.Id" class="btn btn-primary">Ban user</a>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>